.breadcrumb {
  padding-left: 13px;
}
.children-detail-page {
  background-color: #fff;
  padding: 3%;
  margin: 2% 2%;
  vertical-align: middle;

  img {
    max-width: 90%;
  }
  .btn-primary {
    background-color: #88181b !important;
    color: #fff !important;
    font-size: 14px;
    min-width: 16%;
  }
  .btn-outline-secondary {
    border: 1px solid #82868b !important;
    background-color: transparent;
    color: #82868b;
    font-size: 14px;
    min-width: 16%;
  }
  .img-item {
    width: 500px !important;
    height: 300px !important;
  }
}
.contact-page {
  .content-wrapper {
    color: #fff;
    font-size: 18px;
    margin-bottom: 50px;
  }
 
  h3 {
    font-family: "Playfair Display", serif !important;
    text-align: center;
    font-size: 3.25rem;
    font-weight: 700;
    margin: 50px 80px 0;
  }
  p {
    text-align: center;
    font-size: 16px;
    margin-bottom: 60px;
  }
  .first-block {
    background-color: #88181b;
    min-height: 200px;
  }
  .second-block {
    background-color: #767676;
    min-height: 200px;
  }

  .main-content {
    font-weight: 600 !important;
  }
  .third-block {
    background-color: #e8b14c;
    min-height: 200px;
  }
  .map-container {
    background-color: #88181b;
    margin: 2% 7%;
    padding: 2% 3%;
  }
  .map {
    background-color: white;
    text-align: center;
    padding: 2% 3%;
  }
}

.hero-inner {
  /* Split hero in two half */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-copy {
  padding-right: 64px;
  min-width: 552px;
  width: 552px;
}

.hero-cta {
  margin: 0;

  .button {
    min-width: 170px;

    &:first-child {
      margin-right: 16px;
    }
  }
}
.aboutus-page {
  img {
    max-height: 400px !important;
  }

  .counter {
    font-size: 60px;
    color: #88181b !important;
    line-height: 60px;
    font-weight: 600 !important;
    line-height: 70px;
    margin: 10px 0px;
  }

  .counter-stat h5 {
    font-weight: 400;
    text-transform: uppercase;
  }

  .counter-block span {
    font-size: 25px;
  }

  #counter .dark-overlay {
    opacity: 0.95;
  }

  #counter {
    position: relative;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 87px;
    padding-bottom: 95px;
  }
  .mt-2 {
    font-size: 16px !important;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-bottom: 0px;
    color: #232323;
  }
  h3 {
    text-align: center;
    font-size: 28px !important;
    font-family: "Poppins", sans-serif !important;
    font-weight: 600 !important;
    margin-bottom: 0px;
    color: #232323;
    margin: 15px 0px 50px 0px;
  }
}
.children-detail-container {
  padding: 4% 8%;
  margin-bottom: 2%;

  .preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px;
    }
  }

  .preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  .preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px;
  }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%;
  }
  .preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block;
  }
  .preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0;
  }
  .preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0;
  }

  .tab-content {
    overflow: hidden;
  }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
  }

  .card {
    margin-top: 50px;
    background: #eee;
    padding: 3em;
    line-height: 1.5em;
  }

  @media screen and (min-width: 997px) {
    .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    }
  }

  .details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  .product-title,
  .price,
  .sizes,
  .colors {
    font-weight: 700;
  }

  .checked,
  .price span {
    color: #ff9f1a;
  }

  .product-title,
  .rating,
  .product-description,
  .price,
  .vote,
  .product-title {
    margin-top: 0;
    font-size: 18px !important;
  }

  svg {
    margin-bottom: 6px;
  }
  .detail {
    margin: 25px 45px 25px 5px;
    padding: 25px 0px;
    border-top: 1px solid #eee !important;
    border-bottom: 1px solid #eee !important;
  }
  .rating {
    color: #767676;
    font-size: 13px !important;
    svg {
      margin-bottom: 8px;
    }
  }
  .support {
    margin-top: 25px;
    min-height: 180px;
    svg {
      margin-bottom: 7px;
    }
    .ant-col {
      margin-right: 5px;
      margin-bottom: 15px;
    }
    .ant-button {
      height: 36px !important;
    }
    .option-title {
      padding-top: 0;
      flex: 0 0 100%;
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    button {
      width: 92%;
      transition: all 0.3s;
      cursor: pointer;
      border-radius: 2px;
      border: 1px solid rgba(0, 0, 0, 0.15);
      font-weight: 600;
      color: rgba(0, 0, 0, 0.6);
      height: 105%;
    }
    // button:focus {

    // }
    .active {
      background-color: #e57905;
      color: white;
      border: none;
    }
  }
  .actions {
    .action2 {
      margin-top: 15px;
    }
    svg {
      margin-bottom: 7px;
    }
    button {
      width: 100%;
      transition: all 0.3s;
      cursor: pointer;
      border-radius: 2px;
      border: 1px solid #e57905;
      font-weight: 600;
      background: #e57905;
      color: #fff;
    }
  }

  .size {
    margin-right: 10px;
  }
  .size:first-of-type {
    margin-left: 40px;
  }

  .color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px;
  }
  .color:first-of-type {
    margin-left: 20px;
  }

  .add-to-cart,
  .like {
    background: #88181b;
    padding: 5px 12px;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
    margin-right: 15px;
  }
  .btn-primary {
    background: #343a40;
  }
  .btn-primary:hover {
    background: #22262a;
  }
  .add-to-cart:hover,
  .like:hover {
    background: #5e181a;
    color: #fff;
  }

  .not-available {
    text-align: center;
    line-height: 2em;
  }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff;
  }

  .orange {
    background: #ff9f1a;
  }

  .green {
    background: #85ad00;
  }

  .blue {
    background: #0076ad;
  }

  .tooltip-inner {
    padding: 1.3em;
  }

  @-webkit-keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
      transform: scale(3);
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }

  @keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
      transform: scale(3);
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
}
.login-page {
  margin-top: 3% !important;
  margin-bottom: 5%;
}
.verify-message {
  border-top: 5px solid #88181b;
  margin-top: 2% !important;
  margin: auto;
  width: 45%;
  padding: 6% 3% !important;
  color: #5e181a;
  font-weight: 500;
  text-align: center;
}
.info-section {
  margin-top: 4%;
  padding: 5% 5% 3% 12%;
  img {
    width: 243px;
    height: 320px;
  }
  .first-img {
    margin-top: 40px;
  }
  button {
    background-color: #88181b;
    color: white;
    border-radius: 25px;
    border: 1px solid #88181b;
    min-width: 100px;
  }
  button:hover {
    background-color: white !important;
    color: red !important;
  }
  .content {
    margin: auto;
    padding-top: 23%;
    padding-left: 10px;
    padding-right: 15px;
    .mini-title {
      color: #88181b;
      font-weight: 700;
      font-family: "Open Sauce One", sans-serif;
      font-size: 35px;
      line-height: 35px;
      margin-bottom: 10px;
    }
    .sub-content {
      margin-bottom: 15px;
      font-size: 18px;
      line-height: 35px;
      letter-spacing: -0.03em;
      max-width: 470px;
    }
    button svg {
      margin-bottom: 5px;
    }
  }
}
.info-section-2 {
  margin-top: 5em;
  padding: 0% 5% 3% 8%;
  button {
    background-color: #88181b;
    color: white;
    border-radius: 25px;
    border: 1px solid #88181b;
    min-width: 100px;
  }
  button:hover {
    background-color: white !important;
    color: red !important;
  }
  img {
    display: block;
    width: 480px;
    height: 340px;
    background-color: red;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  }
  .content {
    float: right;
    margin: auto;
    padding-top: 13%;
    padding-left: 10px;
    padding-right: 25px;
    text-align: right;

    .sub-title {
      color: #88181b;
      font-weight: 700;
      font-family: "Open Sauce One", sans-serif;
      font-size: 35px;
      line-height: 35px;
      margin-bottom: 10px;
    }
    .sub-content {
      font-size: 18px;
      line-height: 35px;
      letter-spacing: -0.03em;
      max-width: 500px;
    }
  }
}
.response-container {
  margin-bottom: 30px;
  min-height: 470px;
}
.response-page {
  padding: 0% 8%;
  margin-bottom: 15%;
  .block {
    margin-bottom: 45px;
  }
  .ant-row {
    height: 180px !important;
  }

  .sec-pic {
    width: 100%;
    height: 180px !important;
    min-width: 266px !important;
  }
  .block-content {
    background: #3d3d3d;
    font-weight: 700;
    height: 180px;
    text-align: center;
    .title {
      color: #ffd154;
      font-size: 28px;
      padding-top: 25%;
    }
  }

  .col-container:hover {
    background-color: #464646;

    .title {
      padding-top: 8%;
    }
    .content {
      color: white;
      padding: 0% 20px;
      font-size: 13px;
    }
  }
}
.childrenConfirmation--model {
  .ant-modal-body {
    padding: 2% 4% !important;
  }
  .ant-card-small > .ant-card-body {
    padding: 8px 15px;
  }
  th {
    display: none !important;
  }
  .ant-card-small > .ant-card-head {
    min-height: 26px !important;
  }

  

  .img-cart {
    display: block;
    max-width: 50px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  table tr td {
    border: 1px solid #ffffff;
  }

  table tr th {
    background: #eee;
  }

  .panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
  }

  td {
    padding: 12px !important;
  }

  .ant-table-cell {
    vertical-align: top;
  }
  
  .ant-card {
    padding: 8px 14px;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.078)
    
  }
  .ant-card-head {
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-left: 4px solid #e57905;
  }
  .ant-card-head-title {
    padding: 3px 0px !important;
  }
  .title {
    font-weight: 500;
  }
  .support--container {
    font-size: 13px;
    .ant-card-body {
      padding: 0px;
    }
    .ant-table-cell {
      padding: 12px !important;
    }
  }
  .ant-modal-header {
    padding: 15px 0px 15px 30px !important;
  }
}
.account {
  .ant-card-head-title {
    padding: 15px 0;
  }
  .ant-divider-horizontal {
    margin: 15px 0 !important ;
  }
  .ant-card-bordered {
    border-left: none;
    border-right: none;
  }
  .ant-card-body {
    padding: 26px 24px 15px 24px;
    font-size: 13px;
  }
  .ant-form {
    padding: 0px !important;
    
    border: none;
  }
  .ant-card {
    padding: 0px 0px 0px 0px;
  }
  .ant-card-head-wrapper {
    width: 100%;
  }
  .ant-card-head {
    background-color: #f3f3f3;
  }
}
.cart {
  padding: 2% 2%;
  .ant-tabs-left > .ant-tabs-nav, .ant-tabs-right > .ant-tabs-nav, .ant-tabs-left > div > .ant-tabs-nav, .ant-tabs-right > div > .ant-tabs-nav {
    flex-direction: column;
    min-width: 300px;
    
    
}
svg {
  margin-bottom: 5px;
  margin-right: 5px;
}
}
.page3 {
  min-height: 150px;
  margin: 40px 0px;
}
.homepage {
  .item {
    width: 180px !important;
    height: 210px;
    margin-top: 0px !important;
    margin-bottom: 30px;
    
  }
  
}
.activity-history-page {
  .ant-tabs-nav {
    width: 20%;
    margin-top: 2px;
  }
 
  .btn-change-tab {
    border: none ;
    background: white ;
    color: #e57905 ;
    width: 100%;
    padding: 3px 0px;
  }
  .active {
    background: #e57905;
    color: white;
   
  }
  .ant-tabs-tab {
    font-size: 16px;
  }
  .ant-tabs-tab:hover {
    color: #e57905 !important;
  }
  .ant-tabs-ink-bar {
    color: #e57905
  }
  .ant-tabs-tab-active {
    .ant-tabs-tab-btn {
      color: #e57905 !important;
    }
  }

  svg {
    margin-right: 5px;
    margin-bottom: 6px;
  }

  
  .ant-card {   
    button {
      padding : 2px !important;
      font-size: 12px  !important;
      margin-right: 2%;
    }
    .ant-card-actions {  
      padding: 0 !important;
      li {
        margin: 0;
      }
    }
    .ant-card-head-title {
      font-size: 12px;
    }
    a {
      font-weight: 600;
    }
    
  }
  .ant-tabs-nav-list {
    padding-right: 30px;
  }
  .notification-page {
    th {
      display: none;
    }
  }
}

