$background-color: #eee;
$text-color: #000000d9;

.table-filter {
  .ant-menu-vertical {
    border: none;
  }
  .ant-menu-item {
    background: $background-color;
    padding: 0.5em 1.1em 0.4em;
    height: 34px;
    line-height: 34px;
    display: flex;
    align-items: center;
    margin: 0 !important;
    &:hover {
      background: rgb(211, 211, 211);
    }
    .ant-menu-item-icon {
      width: 16px;
      height: 16px;
    }
    .ant-menu-title-content {
      font-size: 13px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      flex: 1;
    }
  }
  .suffix-icon {
    width: 16px;
    height: 16px;
    transform: translateX(10px);
  }
  .ant-menu-light .ant-menu-item-active {
    color: $text-color;
  }
}

.table-filter__sub-content {
  .ant-popover-arrow-content {
    background: $background-color;
  }
  .ant-popover-inner {
    background: $background-color;
  }
}

.table-filter__filter-columns {
  width: 150px;
  .ant-col {
    margin-bottom: 5px;
  }
}

.table-filter__filter {
  width: 200px;
}
.table-filter_actions {
  margin-top: 0.5em;
  button {
    display: flex;
    justify-content: center;
  }
}

.custom-table__pagination {
  float: right;
  padding-top: 10px;
  margin: 10px 0;
  .ant-pagination-item {
    border-radius: 100%;
    border: 0;
    &:hover {
      background-color: var(--light-gray-color);
    }
  }
  .ant-pagination-item-active {
    background-color: var(--orange-color);
    color: #fff;
  }
  .ant-pagination-item-link {
    border-radius: 100%;

    .ant-pagination-item-link-icon {
      margin-top: 10px;
    }
  }
}
// .sub-menu {
//   &.ant-menu-item-selected {
//     background-color: $background-color !important;
//     color: $text-color;
//   }
// }
