.workflowStepGuide {
  margin: 0 0 18px 0;
  background-color: #fff;
  display: flex;
  overflow-x: auto;
  height: 60px;
  .workflowStepGuideDiv {
    cursor: pointer;
    &:first-child {
      .step-process {
        border-radius: 3px 0 0 3px;
      }
    }
  }

  .step-process {
    padding: 7px 25px 7px 15px;
    width: max-content;
    min-width: 100px;
    display: block;
    position: relative;
    text-align: center;
    background: url("../images/next-steps-complete.png") repeat;
  }

  .last {
    background: url("../images/next-steps.png") no-repeat right -2px;
    display: inline-block;
    width: 19px;
    height: 36px;
    position: absolute;
    top: 0;
    right: -1px;
  }

  .last-final {
    background-image: url("../images/next-steps-li-none.png");
  }

  .text {
    margin-top: 0;
    padding-left: 0;
    font-weight: 500;
    color: white;
  }

  .first {
    background: url("../images/next-steps-li-complete.png") no-repeat right -2px;
    display: inline-block;
    width: 20px;
    height: 37px;
    position: absolute;
    top: 0;
    left: -20px;
  }

  .selected {
    background: url("../images/next-steps-select.png") no-repeat right -2px;

    .text {
      color: #fff;
    }

    .first {
      background: url("../images/next-steps-li-select.png") no-repeat right -2px;
      display: inline-block;
      width: 20px;
      height: 37px;
      position: absolute;
      top: 0;
      left: -20px;
    }
  }
}
.workflow-main-container {
  overflow: hidden;

  .direct {
    border: 1px #f0f0f0 solid;
    padding: 15px 20px;
    background-color: #fff;
    border-radius: 0 0 3px 3px;
    height: 85%;
    overflow: auto;
  }

  .workflow-main-option {
    width: 100%;
    border: 1px #f0f0f0 solid;
    background-color: #ededed;
    height: 35px;
    padding: 8px 20px;
    padding-right: 10px;
    border-radius: 3px 3px 0 0;
    display: flex;

    .error-message {
      padding-left: 20px;
      color: red;
      font-weight: bold;
      width: 20%;
    }
  }

  .info-title {
    display: inline-block;
    margin-bottom: 10px;
    vertical-align: top;
    font-size: 18px;
    color: #005296;
    cursor: pointer;
    font-weight: 600;
  }

  .ItemRowWorkflow {
    display: table;
    width: 100%;
    table-layout: fixed;
    font-size: 13px;
    margin-bottom: 10px;

    .ItemInput {
      display: table-cell;
      padding: 8px 10px 8px 0;
      vertical-align: middle;

      input {
        min-height: 30px;
        width: 100%;
        border-radius: 2px;
        border: 1px #e5e5e5 solid;
        color: #2e2e2e;
        padding: 0 10px;
      }

      .fileInput {
        padding: 10px;
        margin-left: 0px;
        margin-top: 30px;
      }

      .react-datepicker-popper {
        z-index: 10;
      }
    }

    .ItemText {
      display: table-cell;
      padding: 8px 10px 8px 0;
      padding-right: 10px;
      vertical-align: middle;

      label {
        color: red;
      }
    }
  }
}
.workflow-main-progress {
  margin-top: 10px;
}

.workflow-property {
  height: 100%;

  .row {
    height: 100%;
  }

  .workflow-leftbar {
    text-align: center;
    align-items: center;
    border-right: 1px #e5e5e5 solid;
    padding: 15px 10px 5px 10px;

    .property-title {
      font-size: 16px;
      font-weight: 700;
      text-align: center;
    }
  }
}
.field-type-container {
  min-width: 120px;
  border: 1px #e5e5e5 solid;
  border-radius: 3px;
  text-align: center;
  background: #fff;
  cursor: pointer;
  padding: 9px 10px;
  margin-bottom: 15px;
  box-sizing: border-box;

  &.active {
    background-color: #f5f5f5;
  }

  &:hover {
    background-color: #f5f5f5;
  }
}
.ic-start {
  background: url("../images/ic-start.png") no-repeat 0 0;
  width: 24px;
  height: 34px;
  display: table-cell;
}
.ic-end {
  background: url("../images/ic-end.png") no-repeat 0 0;
  width: 20px;
  height: 24px;
  display: table-cell;
}
.workflowProcess div {
  display: table-cell;
}
.workflowSteps {
  background: url("../images/line-qt.png") repeat-x 0 8px;
}
.note-step a {
  font-family: Roboto, Arial;
  border-spacing: 0px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer;
  background: url("../images/add-item.png") no-repeat left 2px;
}
.workflowProcess .step-process {
  text-align: center;
  min-width: 120px;
}
.workflowProcess .step-process .text {
  display: block;
  position: relative;
  margin-top: 0;
  padding: 3px 0 0 0;
  font-size: 13px;
}
.workflowProcess .step-process a {
  cursor: pointer !important;
}
.workflowDiagram .table {
  margin-top: 35px;
}
.workflowDiagram .table img {
  padding-right: 10px;
}
.new-width {
  min-width: 110px;
}
.property-form-field {
  width: 100%;
  border: 1px #79dca3 dotted;
  border-radius: 4px;
  background-color: #fafafa;
  margin-bottom: 15px;

  .ItemRowProperty {
    display: table;
    width: 100%;
    table-layout: fixed;
    padding: 5px 0 5px 10px;
    font-size: 13px;

    .ItemText {
      display: table-cell;
      padding: 8px 10px 8px 0;
      vertical-align: middle;
      font-size: 13px;
    }

    .ItemInput {
      display: table-cell;
      padding: 8px 10px 8px 0;
      vertical-align: middle;
      position: relative;

      .single {
        width: 70%;
        margin-bottom: 0;
        background-color: transparent;
        float: left;
        margin-right: 5px;
        border-radius: 2px;
        border: 1px #e5e5e5 solid;
        color: #2e2e2e;
      }
    }

    .action {
      display: flex;
      padding-top: 6px;

      .icon {
        display: inline-block;
        height: 20px;
        margin-left: 10px;
        cursor: pointer;
        vertical-align: middle;
        text-align: center;
      }

      .radion-content {
        margin-left: 12px;
        display: flex;
        align-items: flex-start;

        .span {
          margin-left: 5px;
          margin-top: -5px;
        }
      }
    }
  }

  .div-user {
    .ItemInput {
      input[type="text"] {
        width: 80%;
        background-color: transparent;
        float: left;
        margin-right: 5px;
        border-radius: 2px;
        border: 1px #e5e5e5 solid;
        color: #2e2e2e;
      }
      .lable-radio {
        margin-right: 30px !important;
        margin-left: 5px;
      }
      textarea {
        width: 80%;
        background-color: transparent;
        float: left;
        margin-right: 5px;
        border-radius: 2px;
        border: 1px #e5e5e5 solid;
        color: #2e2e2e;
      }
      .ItemInput-Divide {
        display: flex;
        margin-bottom: 5px;
        label {
          width: 10%;
        }

        input[type="text"] {
          width: 60%;
        }
      }
    }
  }
}
.open-width {
  width: 100px;
}
.workflowStepField {
  display: inline-block;
}
#text-container {
  float: right;
}
.workflow-subtitle {
  margin-bottom: 15px;
  vertical-align: top;
  font-size: 18px;
  color: #005296;
  font-weight: 700;
}

.property-dropdown {
  .dropdown-menu {
    width: 80%;
    max-height: 500px;
    overflow: auto;
    .dropdown-item {
      height: 36px;
    }
  }
  .dropdown-toggle {
    padding-top: 0.1rem;
    height: 30px;
    width: 80%;
    text-align: left;
    border: 1px #e5e5e5 solid;
    color: #2e2e2e !important;
    background-color: transparent !important;
    &:after {
      display: none;
    }
  }
}
.workflowStepEditorContainer {
  height: 68vh;
  .nav-tabs {
    border-bottom: none;
    .nav-link {
      border-radius: 18px;
      padding: 4px 20px;
      background-color: #eee;
      margin-right: 7px;
      font-family: Roboto, Arial;
      margin-bottom: 10px;
      border-bottom: none;
      color: #444;
      font-weight: 600;
    }
    .nav-link.active {
      background-color: #005296;
      color: white;
    }
  }
}
.required-field {
  color: red;
  margin-left: 3px;
}
.popupAddWorkFlowStep {
  min-height: 380px;
}
.saveBtn {
  text-align: right;
  border: none;
  background-color: white;
  border-bottom: 1px #e5e5e5 solid;
  padding: 0px 20px 5px 0px;
  img {
    width: 27px;
    height: 27px;
  }
}
.text-remind {
  font-size: 12px;
}
.email-notification-container .form-control {
  font-size: 13px;
  padding: 0px;
  width: auto;
}
.stepCC-input-container {
  width: 100%;
}
.titleGroup {
  position: relative;
  float: right;
}
.subGroup {
  background-color: #eee;
}
.btntoggle {
  padding-top: 10px;
  padding-bottom: 15px;
}
.subOption {
  .anticon {
    margin-top: 5px;
  }
}
.subitem {
  .ant-dropdown-menu {
    background-color: #eee;
  }
}
.filterCol li:hover {
  background-color: #fff;
}

.filterCol {
  width: 100%;
  flex-direction: column;
  display: flex;
  li {
    margin-left: -5px;
    width: 100%;
  }
}
.dropDownDay {
  .dropdown-toggle::after {
    float: right;
    margin-top: 10px;
  }
  .dropdown-menu {
    min-width: 0;
    width: 100%;
    height: 30px;
  }
  .btn-primary.dropdown-toggle {
    font-size: 13px;
    color: #333 !important;
    background-color: #f3f3f3 !important;
    border: 1px #dcdbdb solid !important;
    box-shadow: none !important;
    width: 95%;
    text-align: left;
  }
  .dropdown-menu.show {
    width: 95%;
    overflow-y: auto;
    height: auto;
    border: 1px solid black;
    transform: translate3d(0px, 25px, 0px) !important;
    overflow-x: hidden;
    padding-top: 1px;
    padding-bottom: 1px;
    max-height: 200px;
  }
  .dropdown-item {
    width: 100%;
    font-size: 13px;
    text-align: left;
    padding-left: 0.8rem !important;
  }
}
.datePick {
  .ant-picker-panel-container {
    background-color: #eee;
    border: 1px solid black;
  }
}
.styleContent {
  p,
  a {
    font-size: 13px;
  }
}
.styletable {
  border: 1px #d9d9d9 solid;
  td {
    border: none;
    padding-top: 0.5rem !important;
    padding-bottom: 0.1rem !important;
  }
  .colCode {
    width: 15%;
  }
  .colContent {
    width: 35%;
    min-width: 100px;
  }
  .colType {
    width: 15%;
    min-width: 95px;
  }
  .colStatus {
    width: 20%;
    min-width: 132px;
  }
}
.inputOption {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 95%;
}
.buttonOption1 {
  width: 46%;
  background-color: #383838 !important;
  color: #fff !important;
}
.buttonOption2 {
  width: 46%;
  background-color: #1f3477 !important;
  color: #fff !important;
  margin-right: 3%;
}
.itemOption1 {
  padding-right: 10px;
}
.itemOption2 {
  padding-left: 10px;
}
.listDropDown {
  margin-left: 5px;
  min-width: 180px;
  p {
    font-weight: bold;
  }
  .dateOption {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .ant-picker {
    width: 95%;
    background-color: #f3f3f3 !important;
  }
}
.checkboxGroup {
  flex-direction: column;
  display: flex;
  max-height: 270px;
  overflow: auto;
  font-weight: bold;
}
.titlemain {
  font-size: 18;
  font-weight: 700;
}
.dropDownCheck {
  width: 315px;
  .textCount {
    margin-left: 12px;
    font-weight: bold;
  }
}
.dropDownSmall {
  width: 50%;
  margin-bottom: 5px;
}
.last-item-model {
  padding-bottom: 20px;
}
.titleButton {
  float: right;
  margin-bottom: 6px;
  cursor: pointer;
  span {
    padding-left: 8px;
    color: #5a5a5a;
    font-size: 13px;
  }
}
.popupRegulationModal {
  height: 350px;
  .workflowRule-label {
    width: 20%;
    max-width: 17%;
  }
}
.rule-container {
  text-align: center;
}

.addBtn {
  text-align: right;
  border: none;
  background-color: white;
  border-bottom: 1px #e5e5e5 solid;
  padding: 0px 20px 5px 0px;
}
.rule-table-container {
  height: 380px;
  table {
    font-size: 13px;
  }
}
.row-border {
  border-bottom: 1px #e5e5e5 solid;
  padding-bottom: 5px;
}
.condition-header {
  text-align: center;
  font-size: 12px;
  background-color: #f5f5f5;
  padding: 10px 0px 15px 10px;
  div {
    font-weight: bold;
  }
}
.condition-select-control {
  width: 130%;
}
.condition-div-control {
  padding: 7px 0px 7px 0px;
  border: 1px #e5e5e5 solid;
  .input-control {
    width: 100%;
  }
  a {
    margin-left: 20px;
  }
}
.condition-function-container {
  float: right;
  padding-top: 10px;
  span a {
    padding-left: 10px;
    padding-right: 20px;
  }
  span {
    margin-left: 7px;
  }
}
.workflow-rule-table {
  margin-top: 7px;
}
.warning-text {
  font-size: 12px;
  color: red;
  margin-bottom: 7px;
  margin-top: -5px;
}
.condition-icon-container a {
  padding-right: 3px;
}
.condition-table-container {
  height: 420px;
  table {
    font-size: 13px;
  }
}
.table-header {
  font-family: RobotoMedium, Arial;
  margin: 25px 0px;
  font-size: 18px;
  font-weight: 500;
  color: #3f4247;
}
.actions-wrap span {
  color: black;
}
.rule-actions a {
  padding-right: 7px;
}
