@media only screen and (max-width: 667px) {
  .page1-box-wrapper {
    display: block;
    .ant-col {
      width: 80%;
      display: block;
      margin: 0 auto 100px;
      .page1-box {
        width: 100%;
      }
    }
  }
  .banner-wrapper .banner-title-wrapper {
    h1 {
      font-size: 28px;
    }
    p {
      font-size: 16px;
    }
  }
}

@media only screen and (max-width: 320px) {
  .home-page h2 {
    font-size: 24px;
  }
  .page2 {
    height: 648px;
  }
}

.home-layout-wrapper3 {
  .ant-row {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .ant-col {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  @media only screen and (max-width: 667px) {
    .item {
      width: 140px;
      margin-right: 15px;
    }
    .ant-row {
      margin: auto;
    }
  }
}
.map-container {
  .custom-form-item {
    margin-left: 50px;
  }

  @media only screen and (max-width: 667px) {
    .ant-row {
      margin-bottom: 15px;
    }

    .custom-form-item {
      margin-left: 0px;
    }
  }
}

.account {
  @media only screen and (max-width: 700px) {
    .card {
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 667px) {
  #customheader {
    #logo {
      padding: 10px 10px;
      width: 90%;
      height: 50%;
      padding-bottom: 20px;
    }
    .ant-row {
      height: 75px !important;
    }
  }
  .guest-menu-search-container {
    display: none;
  }

  .header-meta {
    padding: 15px 10px;
  }

  .customheader {
    padding: 20px 0px;
  }
  .ant-menu {
    line-height: 10px !important;
  }
  .menu-container {
    visibility: hidden;
    height: 0%;
  }

  #logo {
    padding-bottom: 0 !important;
  }
  #preview {
    padding-top: 7px;
    margin-left: 0;
    #preview-button {
      padding-right: 15px !important;
    }
  }
  .menu-icon {
    display: block;
    top: 0;
    transform: none;
    padding: 25px 20px;
  }
  .menu-drawer {
    a {
      color: black;
      font-size: 16px;
      padding: 5px;
    }
    .ant-menu-item-custom {
      color: black;
      margin-bottom: 10px;
    }
  }

  .ant-divider-horizontal {
    margin: 12px 0;
  }
  .hide {
    display: none;
  }
  svg {
    margin-top: 5px;
  }
  .appear {
    .ant-menu-item-custom {
      margin: 12px 15px;
    }
  }
  .slideshow-container {
    h3 {
      width: 100%;
      height: 48% !important;
    }
  }
  .section {
    min-height: 180px !important;
    padding: 50px 0px;
    div {
      font-size: 12px;
      line-height: 20px;
    }
  }
  h2 {
    font-size: 20px !important;
  }
  #page3 .text-wrapper {
    padding: 0 30px;
    h2 {
      font-size: 20px;
    }
    p {
      font-size: 12px;
    }
  }
  .home-page-wrapper #page3 {
    h2 {
      font-size: 20px !important;
    }
    div {
      font-size: 12px !important;
    }
  }
  .home-layout-wrapper3 .home-case {
    div {
      font-size: 12px !important;
    }
    h2 {
      font-size: 20px !important;
    }
  }
  .section2 .title {
    padding-top: 60px;
    font-size: 13px !important;
  }
  .aboutus-page .text-center {
    margin-bottom: 15px !important;
  }
  .banner-custom {
    h3 {
      width: 100%;
      height: 45% !important;
    }
  }
  h3 {
    font-size: 30px !important;
  }
  .map-container .ant-col {
    margin-bottom: 20px;
  }
  iframe {
    height: 200px;
  }
  .contact-page {
    p {
      padding: 10px 10px 50px 10px !important;
    }
    margin-top: 40px;
    h3 {
      margin: 20px 80px !important;
    }
    
  }
  .center{
    h3 {
      font-size: 30px;
      padding: 20px 0px;
    }
      margin-top: 10% !important;
      width: 80% !important;
    .gender-options div {
      text-align: left !important;
    }
    .ant-form-item-control-input-content {
      text-align: center;
    }
    

  }
  .button-custom {
    margin-top: 15px;
  }
  h5 {
    font-size: 15px !important;
  }
  .notification-page {
    margin: 0 !important;
  }
  .ant-drawer-content-wrapper {
    max-width: 380px;
  }
}
@media screen and (min-width: 1000px) {
  .menu-container {
    visibility: visible;
  }
}
